body {
  background-color: #f1f1f1;
  /* background-color: #bbbfff; */
  margin: 0;
  padding: 0;
}

/**
Common Style Like Framework
 */
.pd15 {
  padding: 15px;
}
.icon-bar {
  background: #fff;
}
.navbar-toggle {
  padding: 7px 10px;
  margin: 0;
}
nav.topbar {
  color: #fff;
  padding: 3px;
  margin: 0 0 10px;
  background: #094b7b;
}
header {
  background: #fff;
}
nav.topbar p {
  margin: 0;
}
.header {
  padding: 5px 0 20px;
}

.logo {
  width: 100px;
  height: auto;
}
/*header {*/
/*padding: 10px 0;*/
/*}*/
header h2 {
  margin: 0;
  font-weight: bold;
  color: #094b7b;
}

/* This Style Block is for NavBar */
.navbar-nav > li > a {
  padding: 8px;
}
.navbar {
  background: #54a3bc;
  color: #fff;
  min-height: unset;
  line-height: 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  z-index: 1;
}
.navbar .navbar-nav {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}
.navbar .navbar-nav > li > a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.navbar .navbar-nav > li:hover > a {
  color: #b3e5fc;
}

.required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .form-control,
.has-error .form-control-feedback,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: #e73d4a;
  border-color: #e73d4a;
}

.help-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.navbar-nav {
  background: #54a3bc;
}
.navbar-nav > li {
  margin: 10px 2px;
}

.validation-error {
  color: #ff0200;
}
